<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    xmlns:tools="http://schemas.android.com/tools">

    <!-- permiso para usar la camara
        Puede que de una advertencia, es normal porque no se cuenta con una camara fisica
        se puede agregar la siguiente linea para evitar la advertencia-->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- para indicar que la app requiere una camara fisica -->
    <uses-feature android:name="android.hardware.camera" android:required="true" />



    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:supportsRtl="true"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/Theme.FaceVY">


        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.FaceVY">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>